/app/node_modules
/app/public/build
/app/public/hot
/app/public/storage
/app/storage/*.key
/app/vendor
/app/database/seeders/AdminSeeder.php
/app/.env
/app/.env.backup
/app/.phpunit.result.cache
/app/Homestead.json
/app/Homestead.yaml
/app/auth.json
/app/npm-debug.log
/app/yarn-error.log
/.idea
/.vscode
Dockerfile
/mysql
